<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../css/layout.css"/>
</head>
<body>
    <section class="alarm_list">
        <h2 class="alarm_title">Real time alarm records scroll display</h2>
        <div class="alarm_box">
            <div class="alarm_info">
                <span>heading</span>
                <span>Date and time</span>
            </div>
            <ul class="alarm_list_ul">
                <li>
                    <span>Real time alarm</span>
                    <span>15/05/2013  12:30</span>
                </li>
                <li>
                    <span>Real time alarm</span>
                    <span>15/05/2013  12:30</span>
                </li>
                <li>
                    <span>Real time alarm</span>
                    <span>15/05/2013  12:30</span>
                </li>
                <li>
                    <span>Real time alarm</span>
                    <span>15/05/2013  12:30</span>
                </li>
                <li>
                    <span>Real time alarm</span>
                    <span>15/05/2013  12:30</span>
                </li>
                <li>
                    <span>Real time alarm</span>
                    <span>15/05/2013  12:30</span>
                </li>
                <li>
                    <span>Real time alarm</span>
                    <span>15/05/2013  12:30</span>
                </li>
                <li>
                    <span>Real time alarm</span>
                    <span>15/05/2013  12:30</span>
                </li>
                <li>
                    <span>Real time alarm</span>
                    <span>15/05/2013  12:30</span>
                </li>
                <li>
                    <span>Real time alarm</span>
                    <span>15/05/2013  12:30</span>
                </li>
            </ul>
        </div>
    </section>
    <section class="alarm_list">
        <h2 class="alarm_title">Real time alarm records scroll display</h2>
        <div class="alarm_box">
            <section class="alarm_dashboard">
                <h2 class="category_title_four">Average response time</h2>
                <!--<div class="dashboard_img chart_four">
                    <img src="../images/chart_four_data.png" class="img_animation"/>
                </div>-->
            </section>
            <section class="alarm_dashboard">
                <h2 class="category_title_four">The amount of success, failure distribution</h2>
                <!--<div class="dashboard_img chart_four">
                    <img src="../images/chart_four_data.png" class="img_animation"/>
                </div>-->
            </section>
        </div>
    </section>
</body>
</html>